body {
    font-family: Arial, sans-serif;
    background-color: #0ebac3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #23bb20;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#weather {
    margin-top: 20px;
}